  <div class="main-container"> 
    <app-header></app-header>
    <div class="content-container">
        <div class="content-area">
          <div class="btn-group btn-primary">            
            <button class="btn" (click)= "removeSort()">Remove Sort</button>
            <button class="btn" (click)= "clearFilter()">Clear Filter</button>
          </div>
          <div class="alert alert-success" role="alert">
            <div class="alert-items">
                <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                    </div>
                    <span class="alert-text">
                      Total Assets: {{displayAssets.length}}
                    </span>
                </div>
            </div>
          </div>
          <div *ngIf="displayAssets.length > 0">      
            <button class="btn btn-link"  (click) = "showFilter = !showFilter"><clr-icon shape="filter"></clr-icon> <span *ngIf="!showFilter"> Show Filter</span><span *ngIf="showFilter"> Hide Filter</span></button>      
            <div *ngIf="appliedFilters.length > 0">
                <span *ngFor="let item of appliedFilters" class="label">{{item.columnName}} {{item.filter.displayName}} {{item.key}} </span>
            </div>
            <table class="table">
              <thead>
                  <tr>
                      <th class="left">
                        <span (click)="sortBy('id')" class="Sort">Id
                          <span *ngIf="sortByColumn === 'id' &&  sortingOrderAsc == true"><clr-icon shape="download"></clr-icon></span><span *ngIf="sortByColumn === 'id' &&  sortingOrderAsc == false"><clr-icon shape="upload"></clr-icon></span>
                        </span>                        
                      </th>
                      <th class="left">
                        <span (click)="sortBy('assetName')" class="Sort">Asset name
                          <span *ngIf="sortByColumn === 'assetName' &&  sortingOrderAsc == true"><clr-icon shape="download"></clr-icon></span><span *ngIf="sortByColumn === 'assetName' &&  sortingOrderAsc == false"><clr-icon shape="upload"></clr-icon></span>
                        </span>
                      </th>
                      <th class="left">
                        <span (click)="sortBy('price')" class="Sort">Price
                          <span *ngIf="sortByColumn === 'price' &&  sortingOrderAsc == true"><clr-icon shape="download"></clr-icon></span><span *ngIf="sortByColumn === 'price' &&  sortingOrderAsc == false"><clr-icon shape="upload"></clr-icon></span>
                        </span>
                      </th>
                      <th class="left">
                        <span (click)="sortBy('lastUpdate')" class="Sort">Updated date
                          <span *ngIf="sortByColumn === 'lastUpdate' &&  sortingOrderAsc == true"><clr-icon shape="download"></clr-icon></span><span *ngIf="sortByColumn === 'lastUpdate' &&  sortingOrderAsc == false"><clr-icon shape="upload"></clr-icon></span>
                        </span>
                      </th>
                      <th class="left">
                        <span (click)="sortBy('type')" class="Sort">Asset type
                          <span *ngIf="sortByColumn === 'type' &&  sortingOrderAsc == true"><clr-icon shape="download"></clr-icon></span><span *ngIf="sortByColumn === 'type' &&  sortingOrderAsc == false"><clr-icon shape="upload"></clr-icon></span>
                        </span>                       
                      </th>
                  </tr>
                  <tr *ngIf="showFilter">
                    <th class="left">
                      <form clrForm [formGroup]="idFilterFormGroup" (ngSubmit)="filterById()">
                        <input  type="hidden" formControlName="columnName">
                        <select clrSelect formControlName="operation"  >
                          <option *ngFor="let item of numberFilters;" [value]="item.name">{{item.displayName}}</option>
                        </select><input clrInput type="number"  formControlName="key" placeholder="Enter number">
                        <button type="submit" class="btn btn-link">Apply</button>
                      </form> 
                    </th>
                    <th class="left">
                      <form clrForm [formGroup]="assetFilterFormGroup" (ngSubmit)="filterByAssetName()">
                        <input  type="hidden" formControlName="columnName">
                        <select clrSelect formControlName="operation"  >
                          <option *ngFor="let item of stringFilters;" [value]="item.name">{{item.displayName}}</option>
                        </select><input clrInput type="text"  formControlName="key" placeholder="Enter text">
                        <button type="submit" class="btn btn-link">Apply</button>
                      </form> 
                    </th>
                    <th class="left">
                      <form clrForm [formGroup]="priceFilterFormGroup" (ngSubmit)="filterByPrice()">
                        <input  type="hidden" formControlName="columnName">
                        <select clrSelect formControlName="operation"  >
                          <option *ngFor="let item of numberFilters" [value]="item.name">{{item.displayName}}</option>
                        </select><input clrInput type="number"  formControlName="key" placeholder="Enter number">
                        <button type="submit" class="btn btn-link">Apply</button>
                      </form> 
                    </th>
                    <th class="left">
                      <form clrForm [formGroup]="updatedDateFilterFormGroup" (ngSubmit)="filterByDate()">
                        <input  type="hidden" formControlName="columnName">
                        <select clrSelect formControlName="operation"  >
                          <option *ngFor="let item of dateFilters" [value]="item.name">{{item.displayName}}</option>
                        </select>
                        <clr-date-container>
                          <input type="date" clrDate name="demo" formControlName="key" >
                        </clr-date-container>
                        <button type="submit" class="btn btn-link">Apply</button>
                      </form> 
                    </th>
                    <th class="left">
                      <form clrForm [formGroup]="assetTypeFilterFormGroup" (ngSubmit)="filterByAssetType()">
                        <input  type="hidden" formControlName="columnName">
                        <select clrSelect formControlName="operation"  >
                          <option *ngFor="let item of stringFilters" [value]="item.name">{{item.displayName}}</option>
                        </select><input type="text" clrInput  formControlName="key" placeholder="Enter text" ><button type="submit" class="btn btn-link">Apply</button>
                      </form> 
                    </th>
                  </tr>
              </thead>
              <tbody>
                <tr *ngFor="let asset of displayAssets">
                  <td class="left">{{asset.id}}</td>
                  <td class="left">{{asset.assetName}}</td>
                  <td class="left">{{asset.price}}</td>
                  <td class="left">{{asset.lastUpdate |  date:'MMM-dd-yyyy hh-mm-ss a'}}</td>
                  <td class="left">{{asset.type}}</td>
                </tr>
              </tbody>
          </table>
          </div>
          <router-outlet></router-outlet>
        </div>
    </div>
  </div>

