
<span (click)= "clearFilter()">Clear Filter</span> <br>
<span (click)= "removeSort()">Remove Sort</span><br>
<span (click)= "applyFilter()">Apply Filter</span><br>
<span>Total Records: {{displayAssets.length}}</span>
<div *ngIf="displayAssets.length > 0">  
  <table>
      <tr>
        <th>
          <span (click)="sortBy('id')" class="Sort" [ngClass]="sortByColumn === 'id' &&  sortingOrderAsc == true? sortByColumn+'-Asc':sortByColumn+'-Dsc'">Id</span>
          <div class="filter" [formGroup]="idFilterFormGroup">
            <input  type="hidden" formControlName="columnName">
            <select formControlName="operation"  >
              <option *ngFor="let item of numberFilters;" [value]="item.name">{{item.displayName}}</option>
            </select><input type="number"  formControlName="key" placeholder="Enter number" (change)="filterId()">
          </div> 
        </th>
        <th>
          <span (click)="sortBy('assetName')" class="Sort" [ngClass]="sortByColumn === 'assetName' &&  sortingOrderAsc == true? sortByColumn+'-Asc':sortByColumn+'-Dsc'">Asset name</span>
          <div class="filter" [formGroup]="assetFilterFormGroup">
            <input  type="hidden" formControlName="columnName">
            <select formControlName="operation"  >
              <option *ngFor="let item of stringFilters;" [value]="item.name">{{item.displayName}}</option>
            </select><input type="text"  formControlName="key" placeholder="Enter text" (change)="filterByAssetName()">
          </div> 
        </th>
        <th>
          <span (click)="sortBy('price')" class="Sort" [ngClass]="sortByColumn === 'price' &&  sortingOrderAsc == true? sortByColumn+'-Asc':sortByColumn+'-Dsc'">Price</span>
          <div class="filter" [formGroup]="priceFilterFormGroup">
            <input  type="hidden" formControlName="columnName">
            <select formControlName="operation"  >
              <option *ngFor="let item of numberFilters" [value]="item.name">{{item.displayName}}</option>
            </select><input type="number"  formControlName="key" placeholder="Enter number" (change)="filterByPrice()">
          </div> 
        </th>
        <th>
          <span (click)="sortBy('lastUpdate')" class="Sort" [ngClass]="sortByColumn === 'lastUpdate' &&  sortingOrderAsc == true? sortByColumn+'-Asc':sortByColumn+'-Dsc'">Updated date</span>
          <div class="filter" [formGroup]="updatedDateFilterFormGroup">
            <input  type="hidden" formControlName="columnName">
            <select formControlName="operation"  >
              <option *ngFor="let item of dateFilters" [value]="item.name">{{item.displayName}}</option>
            </select><input type="datetime"  formControlName="key" placeholder="Select date" (change)="filterByDate()">
          </div> 
        </th>
        <th>
          <span (click)="sortBy('type')" class="Sort" [ngClass]="sortByColumn === 'type' &&  sortingOrderAsc == true? sortByColumn+'-Asc':sortByColumn+'-Dsc'">Asset type</span>
          <div class="filter" [formGroup]="assetTypeFilterFormGroup">
            <input  type="hidden" formControlName="columnName">
            <select formControlName="operation"  >
              <option *ngFor="let item of stringFilters" [value]="item.name">{{item.displayName}}</option>
            </select><input type="text"  formControlName="key" placeholder="Enter text" (change)="filterByAssetType()">
          </div> 
        </th>
      </tr>
      <tr *ngFor="let asset of displayAssets">
        <td>{{asset.id}}</td>
        <td>{{asset.assetName}}</td>
        <td>{{asset.price}}</td>
        <td>{{asset.lastUpdate |  date:'MMM-dd-yyyy hh-mm-ss a'}}</td>
        <td>{{asset.type}}</td>
      </tr>
  </table>
</div>
<router-outlet></router-outlet>